custom_examples/TelegramBotExample.json
{
  "name": "TelegramBotExample",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        64,
        112
      ],
      "id": "63e24e33-51d3-4843-86d3-6023a36debc5",
      "name": "When chat message received",
      "webhookId": "181ed8d0-eabd-4f2c-b39f-0218f5a156ce"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        272,
        112
      ],
      "id": "86d60551-6111-49f9-9a33-db59269fa0f9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "command-a-translate-08-2025",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        272,
        304
      ],
      "id": "315cbe9c-2ffc-45c2-8858-3404e9de4fb6",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "5UyonezLgpBon2Ty",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003243525314",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        112
      ],
      "id": "38664c6c-98de-420f-b718-ee8a0fe4e7b4",
      "name": "Send a text message",
      "webhookId": "4a0568a8-0c8a-400f-a2ea-98809d53fe2d",
      "credentials": {
        "telegramApi": {
          "id": "1qn77JCtvzvcUBX1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a80a865-13b1-4eb4-be45-486967bf3b80",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b2c5ee7f6efd54235605ff4904e7e72c63bd3a9313cda130ade6d17d3095e41"
  },
  "id": "RLm47zqv8NkGAI31",
  "tags": []
}